<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试登录首页</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div class="main_css">
        <form action="/commit">
            <div id="user">
                <label>用户名：</label>
                <input type="text" name="username" placeholder="请输入用户名" >
            </div>
            <div>
                <label>密码：</label>
                <input type="password" name="pwd" placeholder="请输入密码">
            </div>
            <div>
                <input type="submit" value="登录">
                <input type="submit" value="重置">
            </div>
        </form>
    </div>
</body>
</html>