<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前端测试专用</title>
    <link rel="stylesheet" type="text/css" href="E:/1Aa_lebo/自动化python基础课程/python09/templates/main.css">
</head>
<body>
    <div CLASS="pop_con">
        <form action="/commit">
            <h3>用户注册</h3>
        <div id="123">
            <label>用户名：</label>
            <input type="text" name="username" placeholder="请输入用户名">
        </div>
        <div>
            <label>密码：</label>
            <input type="password" name="psw" placeholder="请输入密码">
        </div>
        <div>
            <input type="submit" value="登录">
            <input type="submit" value="重置">
    </div>
</form>

</div>

</body>
<style>
    .pop_con form{
            width: 500px;
            height: 300px;
            background: darkgrey;
            border: 1px solid #000;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -150px;
            margin-left: -250px;
            z-index: 9999;
}

</style>
<ml>
